/* .navigation{
    
} */

*{
 box-sizing: border-box;   
}

body{
    width: 100svw;
    /* height: 2000px; */
    background: gray;
}


.navigation ul{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    gap: 40px;
    list-style: none;
}

/* .content{
    height: 4000px;
    width: 1800px;
    background: black;
} */

section div{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: black solid;
}

section{
    height: 800px;
}

section img{
    width: 400px;
}

.img2{
    width: 200px;
    height: 200px;
}

.content1{
    display: flex;   
    width: 100vw;
    height: 900px;
}
.content1 .big_img {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: black solid;
}

.estrellitas img{
    height: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p{
    font-size: 1.5em;
}

.info b{
    font-size: 4.5em;
}

.info {
    width: 10%;
}

/* .content1 .big_img {
    
} */
/* .content2 .big_img {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: black solid;
}

.content2{
    display: flex;   
    width: 900px;
    height: 900px;
} */

.content2{
    display: flex;   
    width: 900px;
    height: 900px;
}

.content2 .big_img {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: black solid;
}